@using agilesheel.Models
@model agilesheel.ViewModels.CinemaViewModel

@{
    ViewData["Title"] = "Index";
}

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<div class="container">
    <div class="row">
        @foreach (var cinema in Model.Cinemas)
        {
        <div class="col-12 my-5">
            <a asp-action="Cinema" asp-route-id="@cinema.Id">
                <div class="media">
                    <img class="img-fluid mr-5" src="@cinema.LocationImageUrl" width="400" height="400" alt="Alternate Text" />
                    <div class="media-body">
                        <h3>@cinema.Name</h3>

                        <p>Email: @cinema.Email</p>
                        <p>Phone: @cinema.Tel</p>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</div>