@using agilesheel.Models
@model agilesheel.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Synopsis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Synopsis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ParentalRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ParentalRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Is3D)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Is3D)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Movie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Movie
                </th>
                <th>
                    Theater
                </th>
                <th>
                    Starts at
                </th>
                <th>
                    Show Duration
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Shows)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Theater.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Model.Movie.Length Minutes
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                        <a class="btn btn-success" asp-controller="Tickets"
                           asp-action="Create" asp-route-id="@item.Id">Order</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
