@using agilesheel.Models
@model agilesheel.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "Movies";
}

<section class="banner bg-dark">
    <img class="img-fluid banner-image" src="/lib/images/bioscoop-digitaal.jpg" alt="Agilesheel Cinemas" />
</section>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="my-5">
                <div class="row">
                    <h2 class="my-4 text-center">Featured movies</h2>
                    @foreach (var featuredMovie in Model.FeaturedMovies)
                    {
                        <div class="col-12 mb-5">
                            <div class="media">
                                <img class="img-fluid mr-5" src="@featuredMovie.PosterUrl" width="200" height="400" alt="Alternate Text" />
                                <div class="media-body">
                                    <h3>@featuredMovie.Title</h3>

                                    <p>@featuredMovie.Synopsis </p>

                                    <a class="btn btn-lg btn-outline-dark" asp-controller="Movies" asp-action="Movie" asp-route-id="@featuredMovie.Id">Read more</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center my-5">
                <h2>Current movies</h2>
            </div>

            <div class="row mb-4">
                <div class="col-2">
                    <div class="dropdown">
                        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Genre
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-action="Index" asp-route-genre="">All!</a>
                            <a class="dropdown-item" asp-action="Index" asp-route-genre="action">Action!</a>
                            <a class="dropdown-item" asp-action="Index" asp-route-genre="drama">Drama!</a>
                            <a class="dropdown-item" asp-action="Index" asp-route-genre="adventure">Adventure!</a>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="dropdown">
                        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            3D
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-action="Index" asp-route-_3d="">All movies!</a>
                            <a class="dropdown-item" asp-action="Index" asp-route-_3d="true">All 3D movies</a>
                            <a class="dropdown-item" asp-action="Index" asp-route-_3d="false">No 3D movies</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @foreach (var item in Model.Movies)
        {
            <div class="col-4 col-lg-3 col-xl-2">
                <a class="movie-item" asp-controller="Movies" asp-action="Movie" asp-route-id="@item.Id">
                    <img src="@Html.DisplayFor(modelItem => item.PosterUrl)" alt="@Html.DisplayFor(modelItem => item.Title)" height="300" />
                    <h1 class="h6">@Html.DisplayFor(modelItem => item.Title)</h1>
                    <span>@Html.DisplayFor(modelItem => item.Genre)</span>
                    <span>Pegi: @Html.DisplayFor(modelItem => item.ParentalRating)</span>

                    @if (item.Is3D)
                    {
                        <span>3D</span>
                    }
                </a>
            </div>
        }
    </div>
</div>