@using agilesheel.Models
@model agilesheel.ViewModels.TicketsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Ticket: @Model.Ticket.Name</h1>

    <h4>Ticket</h4>
    <hr />
    <h3>@Model.Ticket.Show.Movie.Title</h3>
    <h4>@Model.Ticket.Show.StartTime</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(TicketDetailsViewModel => TicketDetailsViewModel.Ticket.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(TicketDetailsViewModel => TicketDetailsViewModel.Ticket.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(TicketDetailsViewModel => TicketDetailsViewModel.Ticket.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(TicketDetailsViewModel => TicketDetailsViewModel.Ticket.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(TicketDetailsViewModel => TicketDetailsViewModel.Ticket.Price)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Price
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(TicketDetailsViewModel => TicketDetailsViewModel.Ticket.SeatNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(TicketDetailsViewModel => TicketDetailsViewModel.Ticket.SeatNumber)
        </dd>
        <dt class="col-sm-2">
            Row
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(TicketDetailsViewModel => TicketDetailsViewModel.Ticket.SeatRowId)
        </dd>
    </dl>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    @if (User.IsInRole("Exchange")) 
    { 
        <a class="btn btn-info" asp-controller="Tickets" asp-action="Exchange">Print ticket</a>
    } 
    else 
    {
        <a class="btn btn-info" asp-controller="Homepage" asp-action="Index">Print ticket</a>
    }
</div>
