@model agilesheel.Models.Movie

@{
    ViewData["Title"] = "Order - Price";
}

<h1>Order</h1>

<div class="row">

    <div class="col-4">
        <img src="@Html.DisplayFor(model => model.PosterUrl)"
             alt="@Html.DisplayFor(model => model.Title)"
             class="img-fluid mb-3">
        <h5>@Html.DisplayFor(model => model.Title)</h5>
    </div>

    <div class="col-8">
        <form method="post" asp-action="Price">
            <div class="row mb-2 align-items-center">
                <div class="col-8 card">
                    <div class="card-body">Normal ticket (€ @ViewData["Price"])</div>
                </div>
                <div class="col-4">
                    <div class="row">
                            <input type="number" class="form-control" name="AmountNormalPrice" 
                                   value="0">
                    </div>
                </div>
            </div>


            <div class="row mb-2 align-items-center">
                <div class="col-8 card">
                    <div class="card-body">
                        Child discount (€ -1.50)
                        <ul>
                            <li>Only for children under de age of 11</li>
                            <li>On all shows til 6PM</li>
                            <li>Only Dutch spoken movies for childern</li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                            <input type="number" class="form-control" name="AmountChildrenPrice"
                                   value="0">
                    </div>
                </div>
            </div>

            <div class="row mb-2 align-items-center">
                <div class="col-8 card">
                    <div class="card-body">
                        Student discount (€ -1.50)
                        <ul>
                            <li>Only valid by showing a studentpass</li>
                            <li>Only valid form monday til thursday</li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                            <input type="number" class="form-control" name="AmountStudentsPrice"
                                   value="0">
                    </div>
                </div>
            </div>

            <div class="row mb-2 align-items-center">
                <div class="col-8 card">
                    <div class="card-body">
                        65+ reduction (€ -1.50)
                        <ul>
                            <li>Only valid by showing a 65+ pass</li>
                            <li>Only valid form monday til thursday, not valid on holidays</li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                            <input type="number" class="form-control" name="Amount65Price"
                                   value="0">
                    </div>
                </div>
            </div>

            <button type="submit">See your price</button>
        </form>
    </div>

    <div class="col-12">
        <div class="row bg-light">
            @ViewData["TotalPrice"]
        </div>
    </div>

</div>