@using agilesheel.Models
@model agilesheel.ViewModels.MovieViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using agilesheel.Constants

@{
    ViewData["Title"] = "Index";
}

@if (!Model.TextBar.Hide)
{
    <section class="banner bg-dark">
        <img class="img-fluid banner-image" src="/lib/images/bioscoop-digitaal.jpg" alt="Agilesheel Cinemas" />
        <div class="covid-banner text-center py-4">
            <p class="d-inline-block text-light mb-0">
                @Model.TextBar.Content <br />

                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.TextBar.Edit)).Result.Succeeded)
                {
                    <a asp-controller="Homepage" asp-action="EditTextBar" asp-route-id="@Model.TextBar.Id">Edit text</a>
                }
            </p>
        </div>
    </section>
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center my-5">
                <h2>This week's movies</h2>
            </div>
        </div>
        

        @foreach (var item in Model.Movies)
        {
            <div class="col-4 col-lg-3 col-xl-2">

                <a class="movie-item" asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">
                    <img src="@Html.DisplayFor(modelItem => item.PosterUrl)" alt="@Html.DisplayFor(modelItem => item.Title)" height="300" />
                    <h1 class="h6">@Html.DisplayFor(modelItem => item.Title)</h1>
                    <span>@Html.DisplayFor(modelItem => item.Genre)</span>
                    <span>Pegi: @Html.DisplayFor(modelItem => item.ParentalRating)</span>

                    @if (item.Is3D)
                    {
                        <span>3D</span>
                    }
                </a>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="my-5">
                <h2 class="my-4 text-center">Featured movies</h2>
                @foreach (var featuredMovie in Model.FeaturedMovies)
                {
                    <div class="media mb-5">
                        <img class="img-fluid mr-5" src="@featuredMovie.PosterUrl" width="200" height="400" alt="Alternate Text" />
                        <div class="media-body">
                            <h3>@featuredMovie.Title</h3>

                            <p>@featuredMovie.Synopsis </p>

                            <a class="btn btn-lg btn-outline-dark" asp-controller="Movies" asp-action="Details" asp-route-id="@featuredMovie.Id">Read more</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
